{% extends 'base.html' %}
{% block content %}
	<div class="row">
		<div class="col-md-6 col-sm-offset-3">
			<h1 class="lead">About Us</h1>
			<p class="text-justify"> About us, Starting from the data analysis to development stage and finally from testing to the implementation phase, our expert team pays close attention to the minutest of details allowing us to provide an optimum solution for your business. Whilst many consider the work is done once the final output is ready, we take time to provide excellent support round the clock.</p>
			
		</div>
	</div>
{% endblock content %}